@media only screen and (max-width: 1500px) {
  .others {
    width: 60vh;
  }
}

@media only screen and (max-width: 1000px) {
  .others {
    margin: auto;
    width: 80%;
  }
  .skills {
    flex-direction: column;
  }
}
