@media only screen and (max-width: 1500px) {
  .others {
    width: 60vh;
  }
}

@media only screen and (max-width: 1000px) {
  .others {
    margin: auto;
    width: 43.333vh;
  }
  .skills {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0%;
    gap: 1vh;
  }
  .titleskills {
    align-items: center;
    justify-content: center;
  }
  .titleskills > h2 {
    margin-left: 0;
  }
  .titleprojects > h2 {
    font-size: 4.444vh;
  }
  .designTitle > h3 {
    font-size: 3vh;
  }
  .devtitle > h3 {
    font-size: 3vh;
  }
}
