@media only screen and (max-width: 1500px) {
  .others {
    width: 60vh;
  }
}

@media only screen and (max-width: 1000px) {
  .others {
    margin: auto;
    width: 80%;
  }
  .skills {
    flex-direction: column;
  }
  .titleskills {
    align-items: center;
    justify-content: center;
  }
  .titleprojects > h2 {
    font-size: 3vh;
  }
  .designTitle > h3 {
    font-size: 2vh;
  }
  .devtitle > h3 {
    font-size: 2vh;
  }
}
