body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #191919;
  color: white;
  font-family: "Roboto Slab", serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

nav > img {
  width: 2em;
  margin-left: 0.625em;
}

nav > p {
  margin-right: 0.625em;
}

header > img {
  width: 100%;
  height: 20vh;
}

main {
  width: 100%;
  display: flex;
}

.welcome {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.welcome > .myname {
  width: 100%;
  height: 7.1875em;
  display: flex;
  align-items: center;
  justify-content: start;
}

.myname > h1 {
  font-size: 4.444vh;
  font-weight: 400;
  margin-left: 8%;
  border-left: 5px solid #933c97;
  padding: 10px;
}

.welcome > .textarea {
  width: 85%;
  min-height: 50vh;
  border-radius: 0.9375em;
  background-color: #252525;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.titleskills {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 14.778vh;
  background-color: #252525;
}

.titleskills > h2 {
  font-weight: 400;
  margin-left: 4%;
  font-size: 4.444vh;
  border-bottom: 5px solid #933c97;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 3.2%;
  gap: 10vh;
  background-color: #252525;
  min-height: 60vh;
  padding-bottom: 6vh;
}

.dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40.889vh;
  height: 46.667vh;
}

.devtitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.devtitle > h3 {
  font-weight: 900;
  margin-left: 1.111vh;
  font-size: 3.667vh;
}

.devtitle > img {
  width: 3.333vh;
  height: 3.333vh;
}

.devimages {
  width: 40.889vh;
  height: 40.889vh;
}

.devimages > img {
  margin: 2vh;
  width: 9.111vh;
  height: 9.111vh;
}

.others {
  display: flex;
  flex-direction: column;
  width: 77.778vh;
  height: 46.667vh;
}

.others > .design {
  width: 100%;
  height: 18.889vh;
}

.designTitle {
  display: flex;
  align-items: center;
  width: 100%;
}

.designTitle > img {
  margin-top: 0.111vh;
  width: 4.444vh;
  height: 5.633vh;
}

.designTitle > h3 {
  font-weight: 900;
  margin-left: 1.111vh;
  font-size: 3.667vh;
  width: fit-content;
}

.design > .designImages {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15.333vh;
}

.designImages > img {
  width: 7.111vh;
  height: 7.111vh;
}

.others > article {
  display: flex;
  width: 100%;
  height: 27.889vh;
}

.tools {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 27.889vh;
}

.firstspan {
  margin-top: 2vh;
}

.tools > span {
  margin-left: 3vh;
  display: flex;
  align-items: center;
}

.tools > span > img {
  margin-right: 1vh;
  width: 3vh;
  height: 3vh;
}

.knowledge > span {
  margin-left: 3vh;
  display: flex;
  align-items: center;
}

.knowledge > span > img {
  margin-right: 1vh;
  width: 3vh;
  height: 3vh;
}

.knowledge {
  width: 50%;
  height: 27.889vh;
}

.titleprojects {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 13.333vh;
  background-color: #191919;
}

.titleprojects > h2 {
  font-size: 4.444vh;
  border-bottom: 5px solid #933c97;
}

.Cardswrapper {
  gap: 6.111vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
  width: 50vh;
  height: 30.889vh;
  background-image: url(../img/card-gradient.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5em;
  box-sizing: border-box;
  color: #fff;
  margin: 20px;
  box-shadow: rgba(93, 50, 84, 0.25) 0px 30px 60px -12px,
    rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.card > img {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  width: 100%;
  height: 75%;
}

.card > span {
  border-radius: 0.41em;
  height: 15%;
  width: 30%;
  text-decoration: none;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card > span:hover {
  color: #191919;
  background-color: white;
  transition: all 0.5s ease;
}

.card:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.5s ease;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(../img/gradient.png);
  background-size: cover;
}

.contact > section {
  width: 80%;
  height: 80%;
  border-radius: 0.9375em;
  background-color: #252525;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7.778vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
